# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Jupynium files
*.ju.py

# ipynb checkpoints
.ipynb_checkpoints/

# Ignore data and figs folder
data/
figs/
assets/dmsc.png

# ignore models and scalers
src/clf_model/
src/conf_model/
src/scaler/
